<% @questions.each do |question| %>
    <h2>Would You Rather...?</h2>
    <% question.options.each do |option| %>
      <h4>
        <%= link_to option.content, option_votes_path(option), method: :post, class: 'option', remote: true  %>
        <span id="<%=option.id%>"></span>
      </h4>
    <% end %>
    <div class="comments" id="<%= question.id %>">
      <%= link_to "Add Comment", new_question_comment_path(question), class: "btn btn-default", id: "new_comment_link", remote: true %>
      <% question.comments.each do |comment| %>
        <div class="well">
          <p><%= comment.user.username %></p>
          <p><%= comment.content %></p>
        </div>
      <% end %>
    </div>
<% end %>
