<!DOCTYPE html>
<html>
  <head>
    <title>Rather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <% if notice %>
      <div class="container notices">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="container notices">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="container">
      <p>
        <% if current_user %>
        <p>
          <%= link_to "Home", root_path %> | User: <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %> | <%= link_to "User Profile", user_path(current_user) %>
        </p>
        <% else %>
        <p>
          <%= link_to "Home", root_path %> | <%= link_to 'Sign In', new_user_session_path %> |
          <%= link_to 'Sign Up', new_user_registration_path %>
        </p>
        <% end %>
      </p>
      <%= yield %>
    </div>

  </body>
</html>
